
services:
  telegram-community-bot:
    build: .
    container_name: telegram-community-bot
    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - ./data:/app/data

    security_opt:
      - no-new-privileges:true

    cap_drop:
      - ALL
